<!-- ko with: home -->
<div class="roster-content">
    <div class="header">
        <h1>Masks: A New Generation</h1>
        <h2>GM and Player Rules</h2>
    </div>
    <div class="row" style="padding: 0 10px">
        <div>
            @Html.Partial("~/Views/Move/_Moves.cshtml")
        </div>
    </div>
</div>
<!-- /ko -->
